.juego {
    width: 500px;
    height: 730px;
    position: absolute;
    left: 80px;
}

.borde-izquierda {
    width: 70px;
    height: 790px;
    position:  absolute;
    background-color: white;
    z-index: +2;
}

.borde-derecha {
    width: 80px;
    height: 790px;
    position: absolute;
    background-color: white;
    z-index: +2;
    left: 580px;
}

.borde-arriba {
    width: 660px;
    height: 8 0px;
    position:  absolute;
    background-color: white;
    z-index: +2;
    top: -50px;
}

.cielo {
    background-image: url('./imagenes/fondo.png');
    width: 500px;
    height: 580px;
    position: absolute;
}

.suelo {
    background-image: url('./imagenes/suelo.png');
    width: 500px;
    height: 150px;
    position: absolute;
    top: 580px;
    z-index: +1;
}

.pajaro {
    background-image: url('./imagenes/pajaro.png');
    position: absolute;
    width: 60px;
    height: 45px;
    left: 220px;
    bottom: 100px;
}

.obstaculo {
    background-image: url('./imagenes/tuberia.png');
    width: 60px;
    height: 300px;
    position: absolute;
}

.obstaculo-arriba {
    background-image: url('./imagenes/tuberia.png');
    transform: rotate(180deg);
    width: 60px;
    height: 300px;
    position: absolute;
}

.suelo-container {
    height: 150px;
    width: 580px;
    left: 80px;
    position:  absolute;
}

#numero {
    font-size:80px;
    color:#434343;
}

#recordN {
    font-size:30px;
    color:#434343;
}

#recordP {
    font-size:30px;
    color:#434343;
}

.cuadrado {
    width: 220px;
    height: 200px;
    border: 3px solid #555;
}