.row {
  display: block;
}

.enemigo {
  width: 100px;
  height: 100px;
  background: red;
}

.defensor {
  width: 100px;
  height: 100px;
  background: blue;
}

.bala {
  width: 100px;
  height: 100px;
  background: black;
}