.row {
  display: block;
}

.cuadro {
  width: 800px;
  height: 550px;
  position: absolute;
  left: 80px;
}

.center {
  text-align: center;
}

.podium {
  background-image: url('./imagenes/podium.png');
  width: 500px;
  height: 283px;
}

.cuadrado {
  width: 900px;
  height: 650px;
  border: 3px solid #555;
  border-radius: 10px;
}